<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <br>
  <h1>Pipes</h1>
  <hr>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ nombre }}</td>
        <td> uppercase </td>
        <td>{{ nombre | uppercase }}</td>
      </tr>
      <tr>
        <td>{{ nombre }}</td>
        <td> lowercase </td>
        <td>{{ nombre | lowercase }}</td>
      </tr>
      <tr>
        <td>{{ nombre }}</td>
        <td> slice:0:3 </td>
        <td>{{ nombre | slice:0:3 }}</td>
      </tr>
      <tr>
        <td>{{ array }}</td>
        <td> slice:0:5 </td>
        <td>{{ array | slice:0:5 }}</td>
      </tr>
      <tr>
        <td>{{ PI }}</td>
        <td> number:'1.0-2' </td>
        <td>{{ PI | number:'1.0-2' }}</td>
      </tr>
      <tr>
        <td>{{ myNumber }}</td>
        <td> percent:'2.2-2' </td>
        <td>{{ myNumber | percent:'2.2-2' }}</td>
      </tr>
      <tr>
        <td>{{ salario }}</td>
        <td> currency </td>
        <td>{{ salario | currency }}</td>
      </tr>
      <tr>
        <td>{{ salario }}</td>
        <td> currency:'EUR':true:'4.2-2' </td>
        <td>{{ salario | currency:'EUR':true:'4.2-2' }}</td>
      </tr>
      <tr>
        <td>{{ salario }}</td>
        <td> number:'.0-2' </td>
        <td>{{ salario | number:'.0-2' }}</td>
      </tr>
      <tr>
        <td>{{ valorPromesa }}</td>
        <td> async </td>
        <td>{{ valorPromesa | async }}</td>
      </tr>
      <tr>
        <td>{{ fecha }}</td>
        <td> date </td>
        <td>{{ fecha | date }}</td>
      </tr>
      <tr>
        <td>{{ fecha }}</td>
        <td> date:'d MMMM' </td>
        <td>{{ fecha | date:'d MMMM' }}</td>
      </tr>
      <tr>
        <td>{{ nombre2 }}</td>
        <td> capitalizado </td>
        <td>{{ nombre2 | capitalizado }}</td>
      </tr>
      <tr>
        <td>{{ nombre2 }}</td>
        <td> capitalizado:false </td>
        <td>{{ nombre2 | capitalizado:false }}</td>
      </tr>
      <tr>
        <td>{{ nombre }}</td>
        <td>
          contrasena:{{ activar }}
          <br>
          <button
          (click)="activar = !activar"
          type="button" class="btn-outline-primary">Activar/Desactivar</button>
        </td>
        <td>{{ nombre | contrasena:activar }}</td>
      </tr>
    </tbody>
  </table>

  <h4>Slice</h4>
  <ul>
    <li *ngFor="let item of array | slice:5:20">{{ item }}</li>
  </ul>

  <h4>JSON</h4>
  <pre>
    {{ heroe | json }}
  </pre>

  <h4>YouTube</h4>
  <hr>
  <iframe [src]="video | domseguro:'http://www.youtube.com/embed/' " width="640" height="360" frameborder=”0″ allowfullscreen></iframe>
  <!-- <iframe width=”640″ height=”360″ src=”http://www.youtube.com/embed/mOeSfOJrUIk” frameborder=”0″ allowfullscreen/> -->


  <br><br><br>


</div>
